ion-card-title{

    font-size: 18px;
}


.cardItem {

    height: 100px;

}


ion-card-content{

color: white;
 
}

#card_title{
    margin-left: 10px; border-bottom: 1px solid gray; margin-top: 5px; margin-bottom: 5px;
}