

<div  *ngIf="((platform.is('desktop')) || (platform.is('tablet'))) else loading">
<div class="logo" >
 
  <div style="margin-top: 50px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 30px; font-weight: bolder;">Elite Shares</div>
  
</div>
<div class="loginform">
  <h1 class="admin">Welcome!</h1>
  <form [formGroup]="form">

      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input matInput type="email" formControlName="email" [ngClass]="{'error': !valid('email')}" ></ion-input>
          </ion-item>

      

    <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input matInput type="password" formControlName="password" [ngClass]="{'error': !valid('password')}" ></ion-input>
        </ion-item>
      <button (click)="submit()">Login</button>
      <p class="failed mat-body-1">{{error}}</p>
  </form>


  <p  id='signUp' (click)="signUp()">Create user account!</p>
</div>
</div>

<ng-template #loading>
 
 
  <div class="ion-padding">
    <ion-img src="./assets/images/logo.png"></ion-img>
    <h1>Welcome!</h1>
    <form [formGroup]="form">
  
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input matInput type="email" formControlName="email" [ngClass]="{'error': !valid('email')}" ></ion-input>
            </ion-item>
  
        
  
      <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input matInput type="password" formControlName="password" [ngClass]="{'error': !valid('password')}" ></ion-input>
          </ion-item>
        <ion-button expand="block" (click)="submit()" >Login</ion-button>
        <p class="failed mat-body-1">{{error}}</p>
    </form>
  
  
    <p  id='signUp' (click)="signUp()">Create user account!</p>
  </div>

</ng-template>
