<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div>
  <div id="login">
    <div id="card">
      <h1 class="mat-display-1" style="margin-bottom: 10px;">Registration</h1>
      <p class="mat-body-1 subtitle">Enter Your Registration Details!</p>
  
      <form [formGroup]="form">
        <ion-row>

          <ion-col>
           
            <div>
              <span class="mat-body-1 headings" >Username</span>
              <input type="email" formControlName="username"  style=' text-transform: capitalize;'/>
            </div>

          </ion-col>

          <ion-col>

            <div>
              <span class="mat-body-1 headings">Email</span>
              <input type="email" formControlName="email" [ngClass]="{'error': !valid('email')}" />
            </div>
            
          </ion-col>

        </ion-row>
      

       
        <ion-row>

          <ion-col>
           
            <div>
              <span class="mat-body-1 headings" >Password</span>
              <input type="email" formControlName="password"  style=' text-transform: capitalize;'/>
            </div>

          </ion-col>

          <ion-col>

            <div>
              <span class="mat-body-1 headings">Confirm Passwprd</span>
              <input type="email" formControlName="confirmPassword" [ngClass]="{'error': !valid('email')}" />
            </div>
            
          </ion-col>

        </ion-row>
       
          <ion-row>

            <ion-col>

              <div>
                <span class="mat-body-1 headings">Bank Name</span>
                <input type="text" formControlName="bankName" [ngClass]="{'error': !valid('bankName')}" />
              </div>
           


            </ion-col>



            <ion-col>


              <div>
                <span class="mat-body-1 headings">Account Number</span>
                <input type="number" formControlName="bankAccount" [ngClass]="{'error': !valid('bankAccount')}" />
              </div>

            </ion-col>
          </ion-row>

           



          

      
      


       

      

        

     
  
       
    
        <div>
          <span class="mat-body-1 headings">Referred By</span>
          <input type="text" [value]="refferBy"  disabled/>
        </div>
    
    
   
        <ion-button expand="full" (click)="submit()" color="dark">Submit</ion-button>
      
      </form>
    </div>
  </div>


  </div>

</ion-content>
