
    #login {
        background: rgb(10, 10, 10);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #card {
        background: white;
        padding: 40px;
        width: 350px;
    }
    
    #card #title {
        font-weight: bold;
        font-size: 1.3em;
    }
    
    #card .subtitle {
        color: #a0a0a0;
        margin-bottom: 40px;
    }
    
    #card input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 5px;
        background: #eeeeee;
        border-style: none;
    }
    
    #card .headings {
        color: gray;
    }
    
    #card button {
        background: #40ae84;
        color: white;
        width: 100%;
    }
    
    #card .error {
        border-style: solid;
        border-color: red;
        border-width: 1px;
    }
    
    #card .failed {
        color: red;
    }
