#logo{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    width:100%;
  
  
  
  
  
  
  
    img{
    padding-left:15px;
     padding-right:15px;
    padding-top:15px;
  
  
  
  
  
  
  
     }
  }
  
  .modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #menu{
    color:grey;
    height:25px;
    width: 25px;
  }
  
  button{
    color:black;
    width: 100%;
  }
  
  
  #menu_icon{
    padding-left:5px;
    margin-left: 5px;
  
  }
  
  .alert-ios .alert-radio-label{ white-space: pre-line;}
  .alert-md .alert-radio-label{ white-space: pre-line;}
  .alert-wp .alert-radio-label{ white-space: pre-line;}
  
  
  ion-label{
    white-space:normal !important;
    }

    ion-icon{
        color: rgb(245, 228, 79);
        margin-right: 5px;
    }

