<ion-header>

  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col  size-xs="12"  size-md="12" size-lg="3"  size-xl='3'>
        <ion-card class="ion-padding">

          <ion-card-title>
            What is your BID Range amount?
          </ion-card-title>

          <ion-card-content class="ion-padding">

            R1000 - R5000
          </ion-card-content>

          <ion-button color="dark" (click)="goAmount1()">Bid</ion-button>

        </ion-card>
      </ion-col>
      <ion-col  size-xs="12" size-md="12"  size-lg="3"  size-xl='3'>
        <ion-card class="ion-padding">

          <ion-card-title>
            What is your BID Range amount?
          </ion-card-title>

          <ion-card-content class="ion-padding">

            R5000 - R10000
          </ion-card-content>
          <ion-button color="dark" (click)="goAmount2()">Bid</ion-button>

        </ion-card>
      </ion-col>
      <ion-col size-xs="12"  size-md="12"  size-lg="3"  size-xl='3'>
        <ion-card  class="ion-padding">

          <ion-card-title>
            What is your BID Range amount?
          </ion-card-title>

     
          <ion-card-content class="ion-padding">

            R10000 - R15000
          </ion-card-content >

          <ion-button color="dark" (click)="goAmount3()">Bid</ion-button>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
