<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start"> 

      <ion-back-button>

      </ion-back-button>

    </ion-buttons>
    <ion-title>Pending Shares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <div *ngFor="let acceptedBid of acceptedBidList">


      <ion-item lines="none" *ngIf='acceptedBid.fileNameUrl'>


        <!-- <embed [src]="acceptedBid.url | async"    height="700px" width="500"> -->
       
  <ion-img [src]="acceptedBid.url | async"></ion-img>

      </ion-item>
    
  <ion-item lines="none">

    Amount: {{acceptedBid.amount}}  Reference: {{acceptedBid.reference}}  <ion-button (click)="confirm(acceptedBid)" style="margin-left: 5px;">  Confirm</ion-button>

    </ion-item>

  </div>

  </ion-list>



</ion-content>
