<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
   
    <ion-col size-xs="12" size-md="12" size-lg="6"  size-xl='6'>


      <ion-card *ngFor="let announcement of announcementList" class="ion-padding">

         

            {{announcement.message}}
  


          <ion-card-content>

            <ion-button fill="clear" (click)="delete(announcement)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-card-content>

      </ion-card>
    </ion-col>



  </ion-row>

</ion-content>
