

<ion-content>




<!-- 
<ion-grid style="min-height: 380px;" no-padding>
  <ion-row>
    <ion-col style="height: 380px" col-12 col-xs-12  col-sm-12 col-md-4 col-lx-4>
        <ion-card padding>
          <ion-card-header>Gender</ion-card-header>
<canvas baseChart
          [datasets]="pieChart1Data"
          [labels]="pieChart1labels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [chartType]="pieChartType">
  </canvas>
      </ion-card>
    </ion-col>

    <ion-col style="height: 380px" col-12 col-xs-12  col-sm-12 col-md-4 col-lx-4>
        <ion-card padding>
            <ion-card-header>Religion</ion-card-header>
<canvas baseChart
          [datasets]="pieChart2Data"
          [labels]="pieChart2labels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [chartType]="pieChartType">
  </canvas>
          </ion-card>
    </ion-col>

    <ion-col style="height: 380px" col-12 col-xs-12  col-sm-12 col-md-4 col-lx-4>
        <ion-card padding>
            <ion-card-header>Age</ion-card-header>
<canvas baseChart
          [datasets]="pieChart3Data"
          [labels]="pieChart3labels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [chartType]="pieChartType">
  </canvas>
          </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->




 
 
 
 <ion-card>
  <ion-grid>
     <ion-row class="title">
       <ion-col col-3>Name</ion-col>
       <ion-col col-3>Surname</ion-col>
       <ion-col col-3>Gender</ion-col>
       <ion-col col-3>Contact</ion-col>
       <ion-col col-3>Email</ion-col>
     </ion-row>
 
     <ion-row *ngFor="let user of userList" class="content" >
         <ion-col  col-3>{{user?.name}}</ion-col>
       <ion-col col-3>{{user?.surname}}</ion-col>
       <ion-col col-3>{{user?.gender}}</ion-col>
       <ion-col col-3>{{user?.contact}}</ion-col>
       <ion-col col-3>{{user?.email}}</ion-col>

       
     </ion-row>
   </ion-grid>
 </ion-card>
 
 
 

</ion-content>
