<ion-header>
  <ion-toolbar>

   
    <ion-title>Client Bank Details</ion-title>
    <ion-buttons slot="end">
    <ion-button fill='clear' (click)="close()">
    
      <ion-icon name='close'></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>

    <ion-label position="floating">Bank Name</ion-label>
    <ion-input type="text" [(ngModel)]='client.bankName'></ion-input>
  </ion-item>

  <ion-item>

    <ion-label position="floating">Bank Swift Code</ion-label>
    <ion-input type="text"  [(ngModel)]='client.SwiftCode'></ion-input>
  </ion-item>


  <ion-item>

    <ion-label position="floating">Bank Account</ion-label>
    <ion-input type="number" [(ngModel)]='client.bankAccount'></ion-input>
  </ion-item>


  <ion-button (click)="update()">Update</ion-button>

</ion-content>
