<ion-header>
  <ion-toolbar color='primary'>

     <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

 


    <div id="card" *ngIf="platform.is('desktop')">

      <ion-card class="ion-padding">
    
    <ion-list class="ion-padding" class='list_web'>
      <ion-item  lines="none">


        <b>Name:</b>   {{client?.name}} <ion-button fill='clear' id='create_button' (click)="presentName()"><ion-icon name='create'></ion-icon></ion-button>
   
       </ion-item>
   
   
       <ion-item class="ion-text-center" lines="none">
   
   
        <b> Surname:</b>  {{client?.surname}} <ion-button fill='clear' id='create_button' (click)="presentSurname()"><ion-icon name='create'></ion-icon></ion-button>
   
       </ion-item>
   
       <ion-item class="ion-text-center" lines="none">
   
   
         <b>Gender:</b>  {{client?.gender}} <ion-button fill='clear' id='create_button' (click)="presentGender()"><ion-icon name='create'></ion-icon></ion-button>
   
       </ion-item>
   
   
       <ion-item class="ion-text-center" lines="none">
   
   
        <b>Contact:</b>  {{client?.contact}} <ion-button fill='clear' id='create_button' (click)="presentContact()"><ion-icon name='create' ></ion-icon></ion-button>
   
       </ion-item>

       <ion-item class="ion-text-center" lines="none">


        <b>Email:</b>  {{client?.email}} 
  
      </ion-item>
  
      <ion-item class="ion-text-center" lines="none">
  
  
        <b>Password:</b>  {{client?.password}} 
  
      </ion-item>
  </ion-list>
</ion-card>

<ion-card class="ion-padding" (click)="presentProfile(client)">Banking Details</ion-card>
<!-- <ion-card class="ion-padding" (click)="presentWallet(client)">Wallet</ion-card> -->
  </div>



  <div *ngIf="platform.is('mobileweb')">
    <ion-card>
    <ion-list class="ion-padding">
      <ion-item  >


     <b>Name:</b>   {{client?.name}} <ion-button fill='clear' id='create_button' (click)="presentName()"><ion-icon name='create'></ion-icon></ion-button>

    </ion-item>


    <ion-item class="ion-text-center" >


     <b> Surname:</b>  {{client?.surname}} <ion-button fill='clear' id='create_button' (click)="presentSurname()"><ion-icon name='create'></ion-icon></ion-button>

    </ion-item>

    <ion-item class="ion-text-center" >


      <b>Gender:</b>  {{client?.gender}} <ion-button fill='clear' id='create_button' (click)="presentGender()"><ion-icon name='create'></ion-icon></ion-button>

    </ion-item>

   

    <ion-item class="ion-text-center">


      <b>Contact:</b>   {{client?.contact}} 
 
     </ion-item>

    <ion-item class="ion-text-center" >


      <b>Email:</b>  {{client?.email}} 

    </ion-item>

    <ion-item >


      <b>Password:</b>  {{client?.password}} 

    </ion-item>
  </ion-list>
</ion-card>


  <ion-card class="ion-padding" (click)="presentProfile(client)">Banking Details</ion-card>
  <!-- <ion-card class="ion-padding" (click)="presentWallet(client)">Wallet</ion-card> -->
  </div>
</ion-content>
