<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row>
  <ion-col  class="ion-padding" size-xs="12"  size-md="12" size-lg="3"  size-xl='3' *ngFor="let bid of bidList">
    <ion-card  class="ion-padding">

      <ion-card-title>
      Amount:  R{{bid.amount}}
      </ion-card-title>


      <ion-button color="dark">Accepted</ion-button>

    </ion-card>
  </ion-col>
</ion-row>


</ion-content>
