<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <ion-card class="ion-padding">

    <ion-card-title>
    <h1 style="text-align: center;">TERMS AND CONDITIONS:</h1>
  </ion-card-title>
  <p>1. By placing a bid through this website, you are entering into a terms of trade and agree to participate in the peer to peer online auction 
    through the purchase & selling of the shares Money rotates within members not system owners or developers.</p>

    <p>2. Once a bid has been submitted, it cannot be retracted or changed.</p>
    <p>3. Members are obliged to pay the shares bought within 6hrs after bid, failure to do so will result in user being blocked without recovery
    </p>
    <p>4. It is the responsibility of members to phone the person you are paying to confirm bank accounts before paying the seller. 
    </p>
    <p>5. All shares are shown South African Rands (ZAR)
    </p>
    <p>6. It is also the responsibility of the of the seller to click confirm once payment is received.
    </p>
    <p>7. Elite Shares reserve the right to remove or blacklist any person having multiple accounts, unpaid bids within stipulated time and delete their records without explanation
    </p>
    <p>8. Reallocations will be apportioned withing 24hrs should members shares not be bought. The Admin or support team will request proof of bank statement for those receiving payment but not paid
    </p>
    <p>9. Elite Shares owners or members understand this is voluntary act of buying and selling shares, therefore it is their sole discretion and reserves the right to act as such and may or may not pay the other member without obligation.
    </p>
    <p>10. Everyone participating in Elite Shares platform understand the above
    </p>
  </ion-card>

</ion-content>
